
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Weekly Lunch Specials</h2>
        <p class="section_text">Monday through Saturday 11:00am to 1:00pm, Sunday 10:00am to 1:00pm.<br>
        All specials are available with salad bar for <sup>$</sup>8.99.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside weekly">
      <h4 class="date_h4">Monday {{monday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">{{monday_main}}</span><br> with {{monday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{monday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside weekly">
      <h4 class="date_h4">Tuesday {{tuesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">{{tuesday_main}} </span><br> with {{tuesday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{tuesday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside weekly">
      <h4 class="date_h4">Wednesday {{wednesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">{{wednesday_main}} </span><br> with {{wednesday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{wednesday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside weekly">
      <h4 class="date_h4">Thursday {{thursday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">{{thursday_main}} </span><br> with {{thursday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{thursday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside weekly">
      <h4 class="date_h4">Friday {{friday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">{{friday_main}} </span><br> with {{friday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{friday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside">
      <h4 class="date_h4">Saturday {{saturday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4><span class="red">Chef's Choice</span><br>&nbsp;</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 items_inside">
      <h4 class="date_h4">Sunday {{sunday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4><span class="red">Brunch Buffet</span></h4>
    </div>
  </div>
