
.col-xs-12 {
  padding-right: 0px !important;
}

.red {
  color: #8a1913;
}

.price_border {
  float: right;
  padding-right: 20px;
  border-right: 1px dashed #515844;
}

.price {
  float: right;
  height: 50px;
  width:50px;
  border-radius: 25px;
  background: #f0f2ed;
  text-align: center;
  color: #8a1913;
  vertical-align: middle;
  border: 1px solid #8a1913;
}

.price_02 {
  position: relative;
  top: 14px;
  font-size: 0.9em;
}

h4 {
  margin-top:0px;
}

.date_h4 {
  margin-bottom: 10px;
}

.smaller_serif {
  font-size: 0.8em;
  font-family: 'Merriweather', serif;
  position: relative;
  top: -10px;
}

.menu_title_padding {
  padding-left: 15px;
  padding-right: 15px;
}

.menu_padding {
  padding-left: 15px;
  padding-right: 15px;
}


/* Image / Text / Rest of the Page / Class Styling ========================== */
.half_text {
  text-align: left;
  padding-bottom: 0px;
  border-bottom: 1px solid #515844;
}

.inner_text_left {
  color: #282828;
}

.inner_text_left h2 {
  text-transform: uppercase;
  color: #515844;
}

.items_inside {
  padding-top: 20px;
  padding-right: 20px !important;
}
/* End of Image / Text / Rest of the Page / Class Styling =================== */

/* Media Queries ============================================================ */

/* Mobile / Tablet =============================== */
@media screen and (max-width: 991px) {

}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {
  .items_inside.weekly {
    height: 160px;
  }
}

/* Desktop ====================================== */
@media screen and (min-width: 992px) {

}
