<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>Don't worry, you can totally probably return it.</p>
  </div>
</section>
<section id="return_info" class="section container-fluid">
  <div class="row">
    <div class="half_text col-xs-12">
      <div class="inner_text_left">
        <h2>First Quality Products</h2>
        <p class="section_text">All first quality Rocky Shoes and Boots have a one year limited warranty for normal use against and manufacturers flaws, defective material &amp; workmanship. This warranty also covers boots made with GORE-TEX&reg; fabric against leakage for one year. All boots with Rocky waterproof construction are guaranteed waterproof for 6 months from the date of purchase.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="half_text col-xs-12">
      <div class="inner_text_right">
        <h2>Return for Fit Reasons</h2>
        <p class="section_text">All items returned for fit must be in new and unworn condition. If you are unsure, try your boots on a carpeted surface. We will not refund items that are not in new unworn condition, we will exchange only.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="half_text col-xs-12">
      <div class="inner_text_left">
        <h2>Clearance and Factory Defects or Seconds</h2>
        <p class="section_text">Clearance, Factory Defects, and Factory Seconds have a 6-month warranty for normal use against any manufacturing flaws, defective materials &amp; workmanship. Boots made with GORE-TEX&reg; fabrics have a 6 month warranty against leakage/ Boots made with Rocky waterproof construction have a 3 month warranty against leakage.</p>
        <p>The warrant does not cover damage due to holes worn in the toes, burn marks, punctures, cuts, and abrasions from outside causes or misuse and/or abuse of the wearer. The warranty may be void if the user applies any material not recommended such as polish, oils, or other chemicals that result in damage to the materials of the footwear.</p>
        <p>The Rocky Outdoor Gear Store customer service will have the final decision as to the cause of the damage and replacement judgement. We reserve the right to repaire or replace at our discretion.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="half_text col-xs-12">
      <div class="inner_text_right">
        <h2>Web Purchases</h2>
        <p class="section_text">Items ordered off of a Rocky Brands website (Rocky, Georgia, Durango) can be returned for an exchange or a refund but are subject to the warranties listed above. You must have a receipt and the items will be exchanged and/or refunded for the amount paid on the receipt.</p>
      </div>
    </div>
  </div>
  <div class="row" id="last">
    <div class="half_text col-xs-12">
      <div class="inner_text_left">
        <p class="section_text"><strong>Bargain rack &amp; sample footwear is sold "As Is" with no warranty,</strong></p>
        <p class="section_text"><strong>Rocky Outdor Gear Store requires a customer's receipt from the store as proof of purchase for all returns. No refunds or exchanges will be processed without a receipt.</strong></p>
      </div>
    </div>
  </div>
</section>
<el-footer></el-footer>
