  <section id="call_to_action" class="section container-fluid">
      <div id="introduction" class="row">
        <div class="col-xs-12">
          <h1>OH BOTHER</h1>
          <p>It seems this page doesn't exist... or does it?</p>
        </div>
        <div class="col-xs-10 col-md-4 left">
          <div class="inner_text_left">
            <a class="internal_href" routerLink="/home" routerLinkActive="active"><div class="internal_line"></div><span class="internal_link">phone home</span></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img id="mobile_intro_image" src="{{intro_image_mobile}}" style="width: 100%;">
          <img id="desktop_intro_image" src="{{intro_image_desktop}}" style="width: 100%;">
        </div>
      </div>
  </section>
  <el-footer></el-footer>
