<section id="menus" class="section container-fluid">
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Burger of the Week</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align:center;">
      <div style="width: 320px; margin: 30px auto 0px auto;">
        <img src="{{burger_pic}}" alt="">
      </div>
      <h2>{{burger_name}}</h2>
      <p class="menu_padding">{{burger_description}}</p>
    </div>
  </div>
  </section>
  <el-footer></el-footer>
