<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>We carry all kinds of stuff, you are going to love it.</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="{{intro_image}}" style="width: 100%;">
    </div>
  </div>
</section>

<section id="products_info" class="section container-fluid">
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_12}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Bows &amp; Archery Equipment</h2>
        <p class="section_text">The Rocky Outdoor Gear Store now carries bows and archery equipment! Let our archery technician help you find exactly what you are looking for. We carry a variety of brands, including Mathews, Mission, PSE, and Parker. Stop in and see our new gear as we continue to expand our selection!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_01}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Work Boots</h2>
        <p class="section_text">We carry a wide selection of work boots for almost any job! With trusted brands like Rocky and Georgia Boot your selection of footwear that meet ASTM Standards is wide ranging. These standards are created to meet footwear requirements of hazardous jobsites, including footwear with electrical hazard resistance, protective toe caps, and puncture resistance.  Check out our entire selection of work boots, all under one roof!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_02}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Work Apparel</h2>
        <p class="section_text">To complement our broad selection of work footwear, we also carry a sizeable selection of work apparel to fit all your job site or around the home needs. Coveralls, sweatshirts, and many more from the leader in work apparel, Carhartt. Check out the complete assortment today!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_03}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Western Boots</h2>
        <p class="section_text">You can never have too many western boots, which is why our entire second floor is dedicated to all things western! Square toe, round toe, or whatever your preference, we’ve got the boot for you! As Durango would say, it’s not a boot, it’s an attitude!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_04}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Hunting Footwear</h2>
        <p class="section_text">Rocky Boots are known around the world as an elite hunting boot, and The Rocky Outdoor Gear Store is the mecca of all things hunting! Waterproofing, insulation and camouflage are features that only touch the tip of the iceberg! Come in to see the selection for yourself!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_05}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Hunting Apparel</h2>
        <p class="section_text">In 2016 Rocky launched their own proprietary camouflage, Venator. Used throughout the world, Venator has become a staple in the hunting community. For the hardcore hunter or a casual piece, you can’t go wrong with Rocky Venator Camouflage. Check out all things camo at the Rocky Outdoor Gear Store!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_06}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Military and Duty Footwear</h2>
        <p class="section_text">The world’s best and most well-known military and duty boots are all sold right here in Nelsonville, Ohio! Whether you’re fighting for our country or guarding our streets, we have the boots to help you protect and serve!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_07}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Sneakers</h2>
        <p class="section_text">From around the house chores to your morning jog, we have rows of sneakers from brands you know and trust, with prices that will blow you away!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_08}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Casual Shoes</h2>
        <p class="section_text">Whether it’s hiking, vacation, or just a lap around the neighborhood, get ready for all your adventures with casual shoes from The Rocky Outdoor Gear Store!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_09}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Casual Apparel</h2>
        <p class="section_text">From casual Friday’s in the office to the backyard weekend barbeque, we have all the casual apparel you could need. We have a huge variety of men’s, women’s and kids!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{products_image_10}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 right">
      <div class="inner_text_right">
        <h2>Camping Equipment</h2>
        <p class="section_text">Sleeping bags, grills, tents and much more! Stock up for your weekend getaway with supplies from The Rocky Outdoor Gear Store!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{products_image_11}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-4 left">
      <div class="inner_text_left">
        <h2>Home Décor</h2>
        <p class="section_text">Rustic cabin décor, Holiday decorations, all at a fraction of what you would pay elsewhere!</p>
      </div>
    </div>
  </div>
</section>
<el-footer></el-footer>
