<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>Home of the Bison Burger</p>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-right: 0px !important;">
      <img src="{{intro_image}}" style="width: 100%;">
    </div>
  </div>
<section>

<section id="covid" style="background: #ffffff; padding: 50px 0 10px 0;">
  <div style="max-width: 700px; margin: 0 auto; text-align: center;">
    <h2 style="padding: 0 20px;">WE'RE STILL HERE FOR YOU</h2>
    <p style="margin-top: 20px; padding: 0 20px;">During this challenging time, we are taking every precaution to ensure the safety of our employees, and our customers! We want to be here to serve you! We are modifying how we do business temporarily until the Ohio Department of Health says that we can go back to business as usual!</p>
    <p style="margin-top: 40px; padding: 0 20px;">THOSE CHANGES INCLUDE:
      <br><br><span style="font-size: 1.2em; max-width: 500px; display: inline-block;">OPEN Monday to Saturday 11am-6pm and <span style="color: #8a1913;">CLOSED</span> on Sundays until further notice.
      <br>Free Delivery available 11am-5:30pm in the city limits of Nelsonville, and Buchtel.
      <br><strong>Our whole menu is still available</strong>, while supplies last.</span></p>
      <p style="margin-top: 30px;">We will stop taking orders 30 minutes before close!</p>
      <h2>GIVE US A CALL!</h2>
      <a style="font-size: 1.4em;" href="tel:740-753-5811" title="Call the Boot Grill">740-753-5811</a>
  </div>
</section>

<section id="menus" class="section container-fluid">
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Daily Specials</h2>
        <!-- <p class="section_text">Monday through Saturday 11:00am to 1:00pm, Sunday 10:00am to 1:00pm.<br> 
        Buffet specials are available with salad bar or soup for an additional <sup>$</sup>2.</p>-->
        <p class="section_text">Available all day from 11am - 6:00pm. You can carryout, or for a limited time only, we will deliver inside Nelsonville and Buchtel.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Monday {{monday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">{{monday_main}}</span><br>{{monday_sides}}.</h4>
      <!-- <h4 style="padding: 10px 0;"></h4> -->
      <!-- <h4><span class="red">{{monday_main_too}}</span><br>{{monday_sides_too}}</h4> -->
      <!-- <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span><br></h4>
      <h4>{{monday_soup}}</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Tuesday {{tuesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">{{tuesday_main}}</span><br>{{tuesday_sides}}.</h4>
      <!-- <h4 style="padding: 10px 0;">OR</h4> -->
      <!-- <h4><span class="red">{{tuesday_main_too}}</span><br>{{tuesday_sides_too}}.</h4> -->
      <!-- <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span><br></h4>
      <h4>{{tuesday_soup}}</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Wednesday {{wednesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">{{wednesday_main}}</span><br>{{wednesday_sides}}.</h4>
      <!-- <h4 style="padding: 10px 0;">OR</h4> -->
      <!-- <h4><span class="red">{{wednesday_main_too}}</span><br>{{wednesday_sides_too}}.</h4> -->
      <!-- <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span><br></h4>
      <h4>{{wednesday_soup}}</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Thursday {{thursday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">{{thursday_main}} </span><br>{{thursday_sides}}.</h4>
      <!-- <h4 style="padding: 10px 0;">OR</h4> -->
      <!-- <h4><span class="red">{{thursday_main_too}}</span><br>{{thursday_sides_too}}</h4> -->
      <!-- <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span><br></h4>
      <h4>{{thursday_soup}}</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Friday {{friday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">{{friday_main}}</span><br>{{friday_sides}}.</h4>
      <!-- <h4 style="padding: 10px 0;">OR</h4> -->
      <!-- <h4><span class="red">{{friday_main_too}}</span><br>{{friday_sides_too}}.</h4> -->
      <!-- <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span><br></h4>
      <h4>{{friday_soup}}</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside">
      <h4 class="date_h4">Saturday {{saturday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5</span></span></span></h4>
      <h4><span class="red">10 traditional wings tossed in your choice of BBQ, Buffalo, or Garlic Parmesan</span><br>&nbsp;</h4>
      <!-- <h4 style="padding: 10px 0;">OR</h4>
      <h4><span class="red">{{saturday_main_too}}</span><br>{{saturday_sides_too}}.</h4> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside">
      <h4 class="date_h4">Sunday {{sunday_date}}<span class="price_border"><!-- <span class="price"><span class="price_02"><sup>$</sup>5</span></span> --></span></h4>
      <h4><span class="red">{{sunday_main}}</span><br><!--{{sunday_sides}}--></h4>
    </div> 
  </div>

  <!-- <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Sandwich of the Week</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align:center;">
      <div style="width: 320px; margin: 30px auto 0px auto;">
        <img src="{{burger_pic}}" alt="">
      </div>
      <h2>{{burger_name}}</h2>
      <p class="menu_padding">{{burger_description}}</p>
    </div>
  </div> -->

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Build Your Own Burger/Sandwich</h2>
        <p class="section_text">ALL SANDWICHES ARE NOW PLAIN UNLESS YOU TELL US THE TOPPINGS YOU WOULD LIKE TO HAVE ON IT.</p>
        <p class="section_text">Prices include your choice of basic toppings: Lettuce, Tomato, Onion, Pickle.</p>
        <p class="section_text">Additional toppings available for $0.50 extra including: choice of cheese, Grilled Onions, Grilled Mushrooms, Jalapenos, Banana Peppers, Green Peppers, or one of our sauces.</p>
        <p class="section_text">Bread Choices: White, Wheat, Sourdough, Rye. Gluten Free available for an additional $1.50 and Keto available for an additional $2.50.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Hamburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Black Bean Burger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>10.99</span></span></span></h4>
      <h4>Bison Burger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.29</span></span></span></h4>
      <h4>Fish Tail</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Grilled Chicken</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Spicy Chicken</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Baked Steak</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Texas Tenderloin</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Tuna Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Ham</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Turkey</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Hummus</h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Special Burgers</h2>
        <p class="section_text">These burgers are topped to deliver the flavor we built from the ground beef up, but of course we will add toppings or take them off as you direct us.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Boot Burger</h4>
      <h4><span class="smaller_serif">Grilled onions under melted American cheese, with lettuce, pickle, and our boot sauce</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Bacon Swiss Mushroom</h4>
      <h4><span class="smaller_serif">Grilled onions, bacon, grilled mushrooms, and swiss cheese, topped with lettuce, tomato, and pickles</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Patty Melt Burger</h4>
      <h4><span class="smaller_serif">Rye bread topped with swiss cheese boot sauce and grilled onions</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Taco Burger</h4>
      <h4><span class="smaller_serif">Taco seasoning, chipotle habanero ranch sauce, cheddar cheese, lettuce, tomato, and onions</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Fire Starter Burger</h4>
      <h4><span class="smaller_serif">Bacon, jalape&ntilde;o, ghost pepper cheese, buffalo sauce, and lettuce</span></h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Other Sandwiches</h2>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Italian Ciabatta</h4>
      <h4><span class="smaller_serif">Salami, pepperoni, ham, provolone cheese, lettuce, and tomato on a soft ciabatta wrap</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Reuben</h4>
      <h4><span class="smaller_serif">Rye bread, swiss cheese, boot sauce, corned beef, and sauerkraut</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>BLT</h4>
      <h4><span class="smaller_serif">Bacon, lettuce, and tomato, on toasted bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Club</h4>
      <h4><span class="smaller_serif">Ham, turkey, bacon, swiss cheese, lettuce, and tomato on toasted bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Chicken Melt</h4>
      <h4><span class="smaller_serif">Sourdough bread, cheddar cheese, chicken salad, and tomato</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Tuna Melt</h4>
      <h4><span class="smaller_serif">Sourdough bread, cheddar cheese, tuna salad, and tomato</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Grilled Cheese</h4>
      <h4><span class="smaller_serif">2 slices of cheese, 2 slices of toasted bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Philly Cheesesteak</h4>
      <h4><span class="smaller_serif">Chicken or steak with grilled onions and peppers, topped with provolone cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Taco Philly</h4>
      <h4><span class="smaller_serif">Seasoned with taco seasoning, topped with cheddar cheese, and chipotle habanero ranch</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Buffalo Philly</h4>
      <h4><span class="smaller_serif">Chicken, grilled onions, buffalo sauce, cheddar cheese, provolone, and ranch</span></h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Other Items</h2>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Chef Salad</h4>
      <h4><span class="smaller_serif">You pick the ingredients and your dressing</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.49</span></span></span></h4>
      <h4>Grilled Chicken Salad</h4>
      <h4><span class="smaller_serif">Grilled chicken, American blend lettuce, tomato, cucumber, green peppers, and onions with your choice of dressing</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Shoe Dog</h4>
      <h4><span class="smaller_serif">8" all beef frank with your choice of toppings</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Wings</h4>
      <h4><span class="smaller_serif">6 piece bone in, or 8 oz boneless. Tossed in your choice of buffalo, bbq, or garlic parmesan</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Tenders</h4>
      <h4><span class="smaller_serif">3 piece tenders</span></h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Breakfast</h2>
        <p class="section_text">Served all day, most days. Boo yah.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Rocky Boots Breakfast</h4>
      <h4 class="smaller_serif">3 eggs, 6 slices of bacon, and 2 slices of toast</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>3 Egg Omelet</h4>
      <h4 class="smaller_serif">Get it how you like it, served with 3 slices of bacon, and 2 slices of toast</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Breakfast Sandwiches</h4>
      <h4 class="smaller_serif">Made how you like it, choose your meat, with cheese and egg, on your choice of bread</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>6 Slices of Bacon</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>2 Sausage Patties</h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Dinner</h2>
        <p class="section_text">Served with your choice of any 2 sides.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>14.99</span></span></span></h4>
      <h4>8oz Ribeye</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>14.99</span></span></span></h4>
      <h4>6oz Grilled Salmon</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>10.99</span></span></span></h4>
      <h4>8oz Chopped Steak</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.99</span></span></span></h4>
      <h4>Baked Steak</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>10.99</span></span></span></h4>
      <h4>Spaghetti</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.99</span></span></span></h4>
      <h4>Fried Grouper Tenders</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.99</span></span></span></h4>
      <h4>12 Yuengling Battered Shrimp</h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Kid's Meals</h2>
        <p class="section_text">All kid's meals served with drink and your choice of fries, macaroni & cheese, or apple sauce.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Hamburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.49</span></span></span></h4>
      <h4>Cheeseburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Hot Dog</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Grilled Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Tenders - 2 Pieces</h4>
    </div>
  </div>
  
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Sides</h2>
        <p class="section_text">Get started with these tasty dishes.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Hand Cut Fries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Sweet Potato Fries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Sidewinder Fries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Onion Rings</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Baked Potato</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Mashed Potatoes</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Potato Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Pasta Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Macaroni Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Macaroni &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Cole Slaw</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Steamed Broccoli</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Mozzarella Sticks (3)</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Cottage Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Fried Mushrooms</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Mini Potato Cakes</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Apple Sauce</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.50</span></span></span></h4>
      <h4>Side Salad</h4>
    </div>
  </div>
  
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Soups</h2>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.29</span></span></span></h4>
      <h4>Soup/Chili</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Soup &amp; Side Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4>1/2 Sandwich 1/2 Soup Combo</h4>
      <h4 class="smaller_serif">Sandwich options: Ham, Turkey, Hummus, or Grilled Cheese. Price varies depending on sandwich.</h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Drinks</h2>
        <p class="section_text">You can't eat without a drink. That's just science.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.49</span></span></span></h4>
      <h4>Milkshake</h4>
      <h4><span class="smaller_serif">Chocolate, Strawberry, or Vanilla</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Root Beer Float</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Fountain Pepsi Products</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Kid's Drink</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Hot Tea or Hot Chocolate</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Iced Tea</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Milk or Bottled Water</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02">&#9749;</span></span></span></h4>
      <h4>Pour-over Coffee</h4>
      <p class="covfefe">small 8oz .... <span class="red">$1.99</span> / </p>
      <p class="covfefe">medium 12oz .... <span class="red">$2.49</span> / </p>
      <p class="covfefe">large 16oz .... <span class="red">$2.99</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02">&#9749;</span></span></span></h4>
      <h4>Drip Brew Coffee</h4>
      <p class="covfefe">small 8oz .... <span class="red">$1.39</span> / </p>
      <p class="covfefe">medium 12oz .... <span class="red">$1.99</span> / </p>
      <p class="covfefe">large 16oz .... <span class="red">$2.49</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.49</span></span></span></h4>
      <h4>Cappucino 8oz</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Espresso double</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Iced Coffee 24oz</h4>
    </div>
  </div>

  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Desserts</h2>
        <p class="section_text">You can eat dessert first. Go ahead, we won't tell anyone.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Cookie</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>1 Scoop Ice Cream</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.19</span></span></span></h4>
      <h4>Candy Bar</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Brownie</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.29</span></span></span></h4>
      <h4>Muffin</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.49</span></span></span></h4>
      <h4>Cinnamon Roll</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.49</span></span></span></h4>
      <h4>Funnel Cake Fries</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Catering Menu</h2>
        <p class="section_text">Planning an event? Look no further for your catering needs.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 items_inside">
        <h3><span class="red">Build a Meal</span></h3>
        <p>Choose one of each of the following</p>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Entree or Sandwich</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Vegetable</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Bread</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Salad</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Entree</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Steak</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lasagna</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Beef Stew</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Meatloaf</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cabbage Rolls</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pot Roast</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Cordon Bleu</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sliders</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Breast BBQ</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Breast Grilled</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Spaghetti</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Stuffed Peppers</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fried Chicken</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wings</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Hot Sandwich</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hamburger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Garden Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Black Bean Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sloppy Jo</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hot Dog</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>BBQ Pulled Pork</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Cold Sandwich</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Egg Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tuna Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cheese Spread</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Turkey</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Beef</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Corned Beef</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pepperoni</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Salami</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hummus</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Sides</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Mashed Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Loaded Mashed Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Au Gratin Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Scalloped Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato Wedges</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lattice Fries</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Broccoli</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Carrots</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Glazed Carrots</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Corn</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Green Beans</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Beans</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Macaroni &amp; Cheese</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tossed Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Slaw</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Macaroni Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pasta Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fruit Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chips</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tortilla Chips / Salsa</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Bread</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>White</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wheat</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Marbled Rye</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sourdough</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sub Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wheat Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>White Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hot Dog Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ciabatta</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Texas Toast</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Croissant</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Bagel</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pretzel Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wraps</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Biscuits</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Dinner Roll</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Mini Bread</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Croissant</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pretzel Bun</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Cheese</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cheddar</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Swiss</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Provolone</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>American</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ghost Pepper</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 items_inside">
        <h3><span class="red">Build a Sandwich Tray or Prepared Sandwich Tray</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Cold Meat Choices</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Bread Choices</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Cheese Choices</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Includes</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lettuce</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tomato</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Condiments</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Side Trays</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Vegetable Tray</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cubed Cheese Tray w/ Crackers</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fruit Tray</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Bars</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Taco</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Desserts</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cookies</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cupcakes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Brownies</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Many More Options</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Beverages</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pepsi Products</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lemonade</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Iced Tea</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Coffee</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Water</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Tableware</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Plates</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Bowls</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Silverware</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Cups</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Napkins</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chafer Fuel</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Box Lunches</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sandwich</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Side Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cookie</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chips</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Water</h4>
      </div>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Grill the Grill</h2>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding: 30px 0; color: #757575;">
    <h2 style="margin-top: 10px; margin-bottom: 20px;"><a href="tel:740-753-5811" title="Call the Boot Grill">740-753-5811</a></h2>
    <p><em>For questions or concerns:</em><br><span style="color: #282828; font-size:22px;"><a href="mailto:grill@rockybrands.com">grill@rockybrands.com</a></span></p>
    <p style="margin-top: 20px;"><em>For catering:</em><br><span style="color: #282828; font-size:22px;"><a href="mailto:catering@rockybrands.com">catering@rockybrands.com</a></span></p>
  </div>
  </section>
  <grill-footer></grill-footer>
