<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>Home of the Bison Burger</p>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-right: 0px !important;">
      <img src="{{intro_image}}" style="width: 100%;">
    </div>
  </div>
<section>

<section id="menus" class="section container-fluid">
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Weekly Lunch Specials</h2>
        <p class="section_text">Monday through Saturday 11:00am to 1:00pm, Sunday 10:00am to 1:00pm.<br>
        All specials are available with salad bar or soup for an additional <sup>$</sup>2.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Monday {{monday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">{{monday_main}}</span><br>{{monday_sides}}</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{monday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Tuesday {{tuesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">{{tuesday_main}} </span><br>with {{tuesday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{tuesday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Wednesday {{wednesday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">{{wednesday_main}} </span><br>with {{wednesday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{wednesday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Thursday {{thursday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">{{thursday_main}} </span><br>with {{thursday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{thursday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside weekly">
      <h4 class="date_h4">Friday {{friday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">{{friday_main}} </span><br>with {{friday_sides}}.</h4>
      <h4><span class="red">Soup of the Day</span><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span><br></h4>
      <h4>{{friday_soup}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside">
      <h4 class="date_h4">Saturday {{saturday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4><span class="red">Chef's Choice</span><br>&nbsp;</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside">
      <h4 class="date_h4">Sunday {{sunday_date}}<span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4><span class="red">Brunch Buffet</span></h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Sandwich of the Week</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align:center;">
      <div style="width: 320px; margin: 30px auto 0px auto;">
        <img src="{{burger_pic}}" alt="">
      </div>
      <h2>{{burger_name}}</h2>
      <p class="menu_padding">{{burger_description}}</p>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Breakfast Menu</h2>
        <p class="section_text">Served all day, every day. Boo yah.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Bowl of Cereal with Milk</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>One Egg</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Toast - 2 Slices</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Bacon - 6 Slices</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.49</span></span></span></h4>
      <h4>Bacon &amp; Toast</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Bagel</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Bagel with Cream Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Bagel with Egg &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Bagel with Bacon, Egg, &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Bagel with Ham, Egg, &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Croissant with Ham, Egg, &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Croissant with Bacon, Egg, &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Cheese Omelet</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Ham, Egg, &amp; Cheese Omelet</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Western Omelet</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Rocky Boots Breakfast</h4>
      <h4 class="smaller_serif">3 eggs, 6 slices of bacon, and 2 slices of toast</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Healthy Menu</h2>
        <p class="section_text">Eat healthy at The Boot Grill.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4>Grilled Chicken Salad</h4>
      <h4><span class="smaller_serif">at 226 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>8.99</span></span></span></h4>
      <h4>Grilled Salmon Salad</h4>
      <h4><span class="smaller_serif">at 317 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Chef Salad</h4>
      <h4><span class="smaller_serif">at 358 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Soup and Small Salad</h4>
      <h4><span class="smaller_serif">at ~186 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Salad Bar</h4>
      <h4><span class="smaller_serif">all you can eat at &infin; Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Salad Bar</h4>
      <h4><span class="smaller_serif">one trip at ~16 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Chicken Salad on Leaf Lettuce</h4>
      <h4><span class="smaller_serif">at 413 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Tuna Salad on Leaf Lettuce</h4>
      <h4><span class="smaller_serif">at 205 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Chipotle Black Bean Burger</h4>
      <h4><span class="smaller_serif">on wheat bun with Sun Chips and pickle spear at 622 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Garden Veggie Burger</h4>
      <h4><span class="smaller_serif">on wheat bun with Sun Chips and pickle spear at 572 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Turkey, Lettuce, &amp; Tomato</h4>
      <h4><span class="smaller_serif">on wheat bread with Sun Chips at 377 Calories</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside healthy">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Hummus, Lettuce, &amp; Tomato</h4>
      <h4><span class="smaller_serif">on wheat bread with Sun Chips at 375 Calories</span></h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Starters &amp; Side Dishes</h2>
        <p class="section_text">Get started with these tasty dishes.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Tenders</h4>
      <h4><span class="smaller_serif">3 pieces</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Deep Fried Mozzarella Sticks</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Deep Fried Mushrooms</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Soup of the Day</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Chili</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Loaded Potato Skins</h4>
      <h4><span class="smaller_serif">4 pieces with Bacon, Cheese, &amp; Sour Cream OR Chili &amp; Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Sweet Potato Fries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Onion Rings</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Hand Cut French Fries</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.79</span></span></span></h4>
      <h4>Baked Potato</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.79</span></span></span></h4>
      <h4>Macaroni &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.79</span></span></span></h4>
      <h4>Mashed Potatoes &amp; Gravy</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.79</span></span></span></h4>
      <h4>Mini Potato Cakes</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Loaded Baked Potato</h4>
      <h4><span class="smaller_serif">with Bacon, Cheese, &amp; Sour Cream OR Chili &amp; Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Loaded Fries</h4>
      <h4><span class="smaller_serif">with Bacon, Cheese, &amp; Sour Cream OR Chili &amp; Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Steamed Broccoli</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Cottage Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Macaroni Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Potato Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Apple Sauce</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.99</span></span></span></h4>
      <h4>Cole Slaw</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Dinners</h2>
        <p class="section_text">Fill up with these fine meals.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>12.99</span></span></span></h4>
      <h4>Grilled Salmon</h4>
      <h4><span class="smaller_serif">with Side Salad &amp; Choice of Potato</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.99</span></span></span></h4>
      <h4>Baked Steak</h4>
      <h4><span class="smaller_serif">with Side Salad &amp; Choice of Potato</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>9.99</span></span></span></h4>
      <h4>Spaghetti</h4>
      <h4><span class="smaller_serif">with Meat Sauce, Bread Sticks, &amp; Salad</span></h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Burgers</h2>
        <p class="section_text">Every burger we sell has stellar buns.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>7.99</span></span></span></h4>
      <h4>Bison Burger</h4>
      <h4><span class="smaller_serif">extra cook time</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.49</span></span></span></h4>
      <h4>Bacon Cheeseburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Bacon Swiss Mushroom Burger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Fire Starter Burger</h4>
      <h4><span class="smaller_serif">Bacon, Pepper Cheese, Jalape&ntilde;os, Hot Sauce, &amp; Lettuce</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.49</span></span></span></h4>
      <h4>Boot Burger</h4>
      <h4><span class="smaller_serif">Grilled Onions, Pickles, Shredded Lettuce, Thousand Island, American Cheese, &amp; Toasted Bun</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.49</span></span></span></h4>
      <h4>Patty Melt Burger</h4>
      <h4><span class="smaller_serif">Grilled Onions, Thousand Island, &amp; Toasted Rye Bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Cheeseburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Hamburger</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Hot Sandwiches</h2>
        <p class="section_text">One of the best sandwiches is a hot sandwich.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Italian Ciabatta Wrap</h4>
      <h4><span class="smaller_serif">Ham, Salami, Pepperoni, &amp; Provolone Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Philly Steak &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Reuben</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Chicken or Tuna Melt</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Grilled Chicken</h4>
      <h4><span class="smaller_serif">on wheat bun</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.49</span></span></span></h4>
      <h4>Spicy Chicken Sandwich</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>BLT</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Hot Ham &amp; Swiss</h4>
      <h4><span class="smaller_serif">on choice of bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Fish Tail</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Baked Steak Sandwich</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.49</span></span></span></h4>
      <h4>Grilled Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Shoe Dog</h4>
      <h4><span class="smaller_serif">8" 1/4 pound all beef frank</span></h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Cold Sandwiches</h2>
        <p class="section_text">The other best sandwich is a cold sandwich.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 items_inside">
      <h4><span class="red">Served with Choice of Bread</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Salad</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Tuna Salad</h4>
    </div>
    <div class="col-xs-12 items_inside">
      <h4><span class="red">Served with Choice of Bread &amp; Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Ham</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Turkey</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Club Sandwich</h4>
      <h4><span class="smaller_serif">Ham, Turkey, and Bacon</span></h4>
    </div>
    <div class="col-xs-12 items_inside">
      <h4><span class="red">Choice of Breads</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Bagel</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Croissant</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Marbled Rye</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Sourdough</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Texas Toast</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>White</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Wheat</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Wrap</h4>
    </div>
    <div class="col-xs-12 items_inside">
      <h4><span class="red">Choice of Cheese</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>American</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Cheddar</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Ghost Pepper</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Provolone</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <h4>Swiss</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Soup &amp; Half Sandwich</h2>
        <p class="section_text">This is for you Mickey. Make it a full sandwich for $2 more!</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Ham</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>6.99</span></span></span></h4>
      <h4>Turkey</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.99</span></span></span></h4>
      <h4>Grilled Cheese</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Kid's Menu</h2>
        <p class="section_text">Little meals for your little tykes.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Hamburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>5.49</span></span></span></h4>
      <h4>Cheeseburger</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.49</span></span></span></h4>
      <h4>Grilled Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.99</span></span></span></h4>
      <h4>Macaroni &amp; Cheese</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>4.99</span></span></span></h4>
      <h4>Chicken Tenders - 2 Pieces</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Drinks</h2>
        <p class="section_text">You can't eat without a drink. That's just science.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>3.49</span></span></span></h4>
      <h4>Milkshake</h4>
      <h4><span class="smaller_serif">Chocolate, Strawberry, or Vanilla</span></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Iced Coffee</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.99</span></span></span></h4>
      <h4>Root Beer Float</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Fountain Pepsi Products</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Kid's Drink</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Coffee, Hot Tea, or Hot Chocolate</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.79</span></span></span></h4>
      <h4>Iced Tea</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.79</span></span></span></h4>
      <h4>Milk, Bottled Water, or Juice</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Desserts</h2>
        <p class="section_text">You can eat dessert first. Go ahead, we won't tell anyone.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Cookie</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>1 Scoop Ice Cream</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.19</span></span></span></h4>
      <h4>Candy Bar</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>0.99</span></span></span></h4>
      <h4>Brownie</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.29</span></span></span></h4>
      <h4>Muffin</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>1.49</span></span></span></h4>
      <h4>Cinnamon Roll</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 items_inside breakfast">
      <h4><span class="price_border"><span class="price"><span class="price_02"><sup>$</sup>2.49</span></span></span></h4>
      <h4>Funnel Cake Fries</h4>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Catering Menu</h2>
        <p class="section_text">Planning an event? Look no further for your catering needs.</p>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 items_inside">
        <h3><span class="red">Build a Meal</span></h3>
        <p>Choose one of each of the following</p>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Entree or Sandwich</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Vegetable</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Bread</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Salad</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Entree</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Steak</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lasagna</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Beef Stew</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Meatloaf</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cabbage Rolls</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pot Roast</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Cordon Bleu</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sliders</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Breast BBQ</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Breast Grilled</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Spaghetti</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Stuffed Peppers</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fried Chicken</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wings</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Hot Sandwich</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hamburger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Garden Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Black Bean Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sloppy Jo</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hot Dog</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>BBQ Pulled Pork</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Cold Sandwich</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chicken Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Egg Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tuna Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cheese Spread</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ham</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Turkey</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Beef</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Corned Beef</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pepperoni</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Salami</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hummus</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Sides</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Mashed Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Loaded Mashed Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Au Gratin Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Scalloped Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Potatoes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato Wedges</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lattice Fries</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Broccoli</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Carrots</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Glazed Carrots</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Corn</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Green Beans</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Baked Beans</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Macaroni &amp; Cheese</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tossed Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Slaw</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Potato Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Macaroni Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pasta Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fruit Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chips</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tortilla Chips / Salsa</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Bread</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>White</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wheat</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Marbled Rye</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sourdough</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sub Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wheat Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>White Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Hot Dog Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ciabatta</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Texas Toast</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Croissant</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Bagel</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pretzel Bun</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Wraps</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Biscuits</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Dinner Roll</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Mini Bread</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Croissant</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pretzel Bun</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Cheese</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cheddar</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Swiss</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Provolone</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>American</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Ghost Pepper</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 items_inside">
        <h3><span class="red">Build a Sandwich Tray or Prepared Sandwich Tray</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Cold Meat Choices</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Bread Choices</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>3 Cheese Choices</h4>
      </div>
      <div class="col-xs-12 items_inside">
        <h4><span class="red">Includes</span></h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lettuce</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Tomato</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Condiments</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Side Trays</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Vegetable Tray</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cubed Cheese Tray w/ Crackers</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Fruit Tray</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Bars</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Burger</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Taco</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Desserts</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cookies</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cupcakes</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Brownies</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Many More Options</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Beverages</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Pepsi Products</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Lemonade</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Iced Tea</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Coffee</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Water</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Tableware</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Plates</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Bowls</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Silverware</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Plastic Cups</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Napkins</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chafer Fuel</h4>
      </div>
    </div>
  </div>
  <div class="row menu_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 items_inside">
        <h3><span class="red">Box Lunches</span></h3>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Sandwich</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Side Salad</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Cookie</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Chips</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Water</h4>
      </div>
    </div>
  </div>
  <div class="row menu_title_padding">
    <div class="half_text col-xs-12 left">
      <div class="inner_text_left">
        <h2>Grill the Grill</h2>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding: 30px 0; color: #757575;">
    <p><em>For questions or concerns:</em><br><span style="color: #282828; font-size:22px;"><a href="mailto:grill@rockybrands.com">grill@rockybrands.com</a></span></p>
    <p style="margin-top: 20px;"><em>For catering:</em><br><span style="color: #282828; font-size:22px;"><a href="mailto:catering@rockybrands.com">catering@rockybrands.com</a></span></p>
  </div>
  </section>
  <el-footer></el-footer>
