<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>{{sale_info}}</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img id="mobile_intro_image" src="{{intro_image_mobile}}" style="width: 100%;">
      <img id="desktop_intro_image" src="{{intro_image_desktop}}" style="width: 100%;">
    </div>
  </div>
  <div id="about-featured" class="row">
    <div class="col-xs-12">
      <p>{{about_featured}}</p>
    </div>
  </div>
<section>
<el-footer></el-footer>
