<section id="call_to_action" class="section container-fluid">
  <div id="introduction" class="col-xs-12">
    <h1>{{title}}</h1>
    <p>There is plenty of stuff to do around here, but you have to get off your ass and do it.</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="{{intro_image}}" style="width: 100%;">
    </div>
  </div>
<section>

<section id="attractions_info" class="section container-fluid">
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{attractions_image_01}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 left">
      <div class="inner_text_left">
        <h2>Hocking Valley Scenic Railroad</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://www.hvsry.org"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{attractions_image_02}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 right">
      <div class="inner_text_right">
        <h2>Hocking Hills Tourism</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://hockinghills.com"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{attractions_image_03}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 left">
      <div class="inner_text_left">
        <h2>Athens Co Visitors Bureau</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://athensohio.com"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{attractions_image_04}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 right">
      <div class="inner_text_right">
        <h2>Bike Rentals</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="https://www.blackdiamondbicycles.com"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{attractions_image_05}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 left">
      <div class="inner_text_left">
        <h2>Nelsonville Events Calendar</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://nelsonville.com"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{attractions_image_06}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 right">
      <div class="inner_text_right">
        <h2>HockHocking Adena Bike Path</h2>
        <p class="section_text"></p>
        <a class="internal_href" href="http://athensohio.com/wheretoplay/hockhocking-adena-bikeway-2/" target="_blank"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 right project__card">
        <img alt="" src="{{attractions_image_07}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 left">
      <div class="inner_text_left">
        <h2>Stuart's Opera House</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://stuartsoperahouse.org"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project">
      <div class="col-xs-9 col-md-5 left project__card">
        <img alt="" src="{{attractions_image_08}}">
      </div>
    </div>
    <div class="half_text col-xs-10 col-md-5 right">
      <div class="inner_text_right">
        <h2>Wayne National Forest</h2>
        <p class="section_text"></p>
        <a class="internal_href" target="_blank" href="http://waynenationalforest.com"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">site</p></a>
      </div>
    </div>
  </div>
</section>
<el-footer></el-footer>
