<section id="call_to_action" class="section container-fluid">
      <div id="introduction" class="row">
        <div class="col-xs-12">
          <h1>ROCKY OUTLET</h1>
          <p>Find all the products you need for work, and play.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img id="mobile_intro_image" src="{{intro_image_mobile}}" style="width: 100%;">
          <img id="desktop_intro_image" src="{{intro_image_desktop}}" style="width: 100%;">
        </div>
      </div>
  </section>
    <section id="products" class="section container-fluid">
      <div class="project">
        <div class="col-xs-9 col-md-5 right project__card">
          <img alt="" src="{{products_image}}">
        </div>
      </div>
      <div class="half_text col-xs-10 col-md-4 left">
        <div class="inner_text_left">
          <h2>What we sell</h2>
          <p class="section_text">We sell Rocky, Georgia, Durango, Woolrich, Carhartt, and much more. Seriously, go to the Products page and just look at how many categories of items we have, just look at it.</p>
          <a class="internal_href" routerLink="/products" routerLinkActive="active"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">products</p></a>
        </div>
      </div>
    </section>
    <section id="attractions" class="section container-fluid even">
      <div class="project">
        <div class="col-xs-9 col-md-5 left project__card">
          <img alt="" src="{{attractions_image}}">
        </div>
      </div>
      <div class="half_text col-xs-10 col-md-4 right">
        <div class="inner_text_right">
          <h2>Tourist Attractions</h2>
          <p class="section_text">There is plenty of stuff to do around here.<br>Have you ever played laser tag outdoors? Well you can; and you will lose. I'm the best at laser tag.</p>
          <a class="internal_href" routerLink="/attractions"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">attractions</p></a>
        </div>
      </div>
    </section>
    <section id="boot_grill" class="section container-fluid">
      <div class="project">
        <div class="col-xs-9 col-md-5 right project__card">
          <img alt="" src="{{grill_image}}">
        </div>
      </div>
      <div class="half_text col-xs-10 col-md-4 left">
        <div class="inner_text_left">
          <h2>Boot Grill</h2>
          <p class="section_text">You know where to go if you want a good meal, head to the home of the Bison Burger, The Boot Factory Grill.</p>
          <a class="internal_href" routerLink="/grill" routerLinkeActive="active"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">menu</p></a>
        </div>
      </div>
    </section>
    <section id="featured" class="section container-fluid even">
      <div class="project">
        <div class="col-xs-9 col-md-5 left project__card">
          <img alt="" src="{{featured_image}}">
        </div>
      </div>
      <div class="half_text col-xs-10 col-md-4 right">
        <div class="inner_text_right">
          <h2>Featured</h2>
          <p class="section_text">Whoa! This product is on a blowout sale. Get it before it is gone!</p>
          <a class="internal_href" routerLink="/featured" routerLinkActive="active"><i class="fa fa-chevron-right internal_arrow"></i><p class="internal_link">featured</p></a>
        </div>
      </div>
    </section>
    <section id="contact" class="section container-fluid">
      <div class="row">
        <div class="col-xs-2 col-md-3">&nbsp;</div>
        <div class="col-xs-8 col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1027.9897442566116!2d-82.2325461685947!3d39.4582855590062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4006966b3d0d7215!2sRocky+Brands+Inc.!5e0!3m2!1sen!2sus!4v1493752970266" id="map" frameborder="0" style="border:0; border-radius: 20px;" allowfullscreen></iframe>
        </div>
        <div class="col-xs-2 col-md-3">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4">&nbsp;</div>
        <div id="contact_info" class="col-xs-10 col-md-8">
          <h2>Contact</h2>
          <a class="internal_href" href="tel:17407533130">
            <h3 class="internal_link">
              (740) 753-3130
            </h3>
          </a>
          <h4>39 E Canal St<br>
          Nelsonville, OH 45764</h4>
        </div>
      </div>
    </section>
    <el-footer></el-footer>
